* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html {
    font-family: 'Noto Sans';
    font-size: 16px;
}

input {
    width: 100%;
    min-height: 30px;
    outline: 0;
}

input[type="submit"] {
    margin-top: 25px;
}

label {
    font-weight: 600;
    width: 100%;
}

a {
    text-align: center;
    /*color: grey;*/
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; 
}

h1 {
    margin: auto;
}

form {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

form .login-form {
    max-width: 380px;
}

ul li {
    text-align: center;
    list-style: none;
}

ul {
    padding: 0;
}

nav {
  border-bottom: 1px solid #dbdbdb;
}


figure {
    margin: 0 auto !important;
}

.in-alert {
    color: red;
}

.avatar-rounded {
  border-radius: 50%;
}

.nav-text {
margin: 0;
}

.figure-content {
    margin-top: 25px;
}

.table {
    margin: 25px;
    padding: 50px;
    max-width: 95%;
}

.btn-primary {
    background-color: #1E293B;
    border: none;
}

.btn-primary:hover {
    background-color: #141b27;
}

.btn-primary:active {
    background-color: #141b27 !important;
}

.btn-outline-secondary {
    border: 1px solid #dbdbdb;
}

.sidebar-item:hover {
    background-color: #dadada;
}

.btn-create {
    background-color: #11a688;
}

.btn-create:hover {
    background-color: #0f9278;
}

.btn-create:active {
    background-color: #0f9278 !important;
}

.modal-backdrop {
    display: none !important;
}

.bootstrap-datetimepicker-widget {
    padding: 24px;
}